<?xml version="1.0" encoding="UTF-8"?>
 <web-app>
  <display-name>Voyager - Workflow Manager</display-name>
    
  <servlet>
        <servlet-name>jersey-serlvet</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
             <param-name>jersey.config.server.provider.packages</param-name>
             <param-value>com.voyagerproject.service</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
   
    <servlet-mapping>
        <servlet-name>jersey-serlvet</servlet-name>
        <url-pattern>/voyager/*</url-pattern>
    </servlet-mapping>
      
</web-app>